In [36]:
%pip install docker pymongo pandas

Requirement already satisfied: docker in ./.pyenv/versions/3.8.6/envs/python-data-prep/lib/python3.8/site-packages (4.3.1)
Requirement already satisfied: pymongo in ./.pyenv/versions/3.8.6/envs/python-data-prep/lib/python3.8/site-packages (3.11.0)
Requirement already satisfied: pandas in ./.pyenv/versions/3.8.6/envs/python-data-prep/lib/python3.8/site-packages (1.1.3)
Requirement already satisfied: websocket-client>=0.32.0 in ./.pyenv/versions/3.8.6/envs/python-data-prep/lib/python3.8/site-packages (from docker) (0.57.0)
Requirement already satisfied: requests!=2.18.0,>=2.14.2 in ./.pyenv/versions/3.8.6/envs/python-data-prep/lib/python3.8/site-packages (from docker) (2.24.0)
Requirement already satisfied: six>=1.4.0 in ./.pyenv/versions/3.8.6/envs/python-data-prep/lib/python3.8/site-packages (from docker) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in ./.pyenv/versions/3.8.6/envs/python-data-prep/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in ./.pyenv/versions/3.8.6/envs/python-data-prep/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in ./.pyenv/versions/3.8.6/envs/python-data-prep/lib/python3.8/site-packages (from pandas) (1.19.2)
Requirement already satisfied: chardet<4,>=3.0.2 in ./.pyenv/versions/3.8.6/envs/python-data-prep/lib/python3.8/site-packages (from requests!=2.18.0,>=2.14.2->docker) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in ./.pyenv/versions/3.8.6/envs/python-data-prep/lib/python3.8/site-packages (from requests!=2.18.0,>=2.14.2->docker) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in ./.pyenv/versions/3.8.6/envs/python-data-prep/lib/python3.8/site-packages (from requests!=2.18.0,>=2.14.2->docker) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in ./.pyenv/versions/3.8.6/envs/python-data-prep/lib/python3.8/site-packages (from requests!=2.18.0,>=2.14.2->docker) (2.10)
WARNING: You are using pip version 20.2.1; however, version 20.2.4 is available.
You should consider upgrading via the '/home/david/.pyenv/versions/3.8.6/envs/python-data-prep/bin/python3.8 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

Setup mongo and import data

In [37]:
import os
import docker

docker_client = docker.from_env()
MONGO_PORT = 27018

mongo_container = docker_client.containers.run(
    'mongo:latest',
    detach=True,
    name='mongo-data-prep',
    remove=True,
    ports={'27017/tcp': MONGO_PORT},
    mem_limit='2G',
    volumes={
        os.path.join(os.getcwd(), 'db'): {'bind': '/data/db', 'mode': 'rw'},
    }
)

In [38]:
from pymongo import MongoClient
mongo_client = MongoClient('127.0.0.1', MONGO_PORT)
db = mongo_client['data-prep']

In [39]:
sales_small_col = db.get_collection('sales-small')
sales_small_col.drop()

In [40]:
from pathlib import Path
import json
sales_small_data = json.loads(Path('/home/david/dev/toucan-toco/python-data-prep/data/sales-small.json').read_text())
sales_small_col.insert_many(sales_small_data['data'])

In [41]:
import pandas as pd

1. Simulating a simple weaverbird pipeline with just a filter, on a very small domain:

In [42]:
'''
{
    "domain": "sales-small",
    "name": "domain"
},
'''
def get_domain(domain):
    return pd.DataFrame(db.get_collection(domain).find({}))
df = get_domain('sales-small')

In [43]:
'''
{
    "name": "filter",
    "condition": {
      "column": "Payment_Type",
      "operator": "eq",
      "value": "Mastercard"
    }
}
'''
def filter(df, column, value):
    return df[df[column] == value]
df1 = filter(df, 'Payment_Type', 'Mastercard')

In [45]:
%%time

'''
Whole pipeline
'''

df = get_domain('sales-small')
filter(df, 'Payment_Type', 'Mastercard')

CPU times: user 12 ms, sys: 0 ns, total: 12 ms
Wall time: 10.6 ms

                         _id Transaction_date  ...   Latitude   Longitude
1   5f90516bacd166c1735d9249      1/5/09 4:10  ... -26.166667   27.866667
2   5f90516bacd166c1735d924a     1/4/09 13:17  ...  32.066667   34.766667
3   5f90516bacd166c1735d924b      1/2/09 6:17  ...  51.500000   -1.116667
6   5f90516bacd166c1735d924e      1/5/09 8:58  ...  52.333333    7.900000
9   5f90516bacd166c1735d9251    1/15/09 12:54  ...  45.400000  -73.933333
15  5f90516bacd166c1735d9257    1/12/09 15:12  ...  39.838060  -75.153060
16  5f90516bacd166c1735d9258    1/19/09 16:10  ...  41.022780  -73.565280
17  5f90516bacd166c1735d9259     1/20/09 6:03  ...  32.525000  -93.750000
26  5f90516bacd166c1735d9262      1/4/09 9:54  ...  30.157780  -95.489170
27  5f90516bacd166c1735d9263    1/22/09 15:32  ...  53.252222   -6.112500
34  5f90516bacd166c1735d926a    1/17/09 11:09  ...  -3.716667  -38.500000
35  5f90516bacd166c1735d926b    1/31/09 11:14  ...  33.509170 -111.898330
38  5f90516bacd166c1735d926e     1/5/09 12:41  ...  32.797780 -117.239440
39  5f90516bacd166c1735d926f     1/4/09 21:08  ...  51.083333 -114.083333
40  5f90516bacd166c1735d9270    1/19/09 14:53  ...  41.008610  -91.962500
46  5f90516bacd166c1735d9276     1/29/09 6:49  ...  52.366667    9.716667
47  5f90516bacd166c1735d9277     1/27/09 6:26  ...  42.886390  -78.878610

[17 rows x 13 columns]

2. Simulating a groupby on larger domain

In [58]:
sales_col = db.get_collection('sales')
sales_col.drop()
data = pd.read_csv('/home/david/dev/toucan-toco/python-data-prep/data/sales.csv').to_dict(orient='rows')
sales_col.insert_many(data)

/home/david/.pyenv/versions/3.8.6/envs/python-data-prep/lib/python3.8/site-packages/pandas/core/frame.py:1485: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  warnings.warn(